<ng-container *ngIf="showReportIssue === false">
    <button class="btn btn-primary" (click)="showReportIssue= true">Add New
        Issue</button>
    <clr-datagrid>
        <clr-dg-column [clrDgField]="'IssueNo'" [clrDgColType]="'number'">IssueNo</clr-dg-column>
        <clr-dg-column [clrDgField]="'Type'">Type</clr-dg-column>
        <clr-dg-column [clrDgField]="'Title'">Title</clr-dg-column>
        <clr-dg-column [clrDgField]="'Description'">Description</clr-dg-column>
        <clr-dg-column [clrDgField]="'priority'">Priority</clr-dg-column>
        <clr-dg-row *ngFor="let issue of Issues">
            <clr-dg-action-overflow>
                <button class="action-item" (click)="selectedIssue= issue">Resolve</button>
            </clr-dg-action-overflow>
            <clr-dg-cell>{{issue.issueNo}}</clr-dg-cell>
            <clr-dg-cell>{{issue.type}}</clr-dg-cell>
            <clr-dg-cell>{{issue.title}}</clr-dg-cell>
            <clr-dg-cell>{{issue.description}}</clr-dg-cell>
            <clr-dg-cell>
                <span class="label" [class.label-danger]="issue.priorty ===
                    'high'">{{issue.priorty}}</span>
            </clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>{{Issues.length}} Issues</clr-dg-footer>
    </clr-datagrid>
</ng-container>

<app-issue-report *ngIf="showReportIssue == true" (formClose)="oncloseReport()"></app-issue-report>
<app-confirm-dialog *ngIf="selectedIssue" [issueNo]="selectedIssue.issueNo" (confirm)="onCompleteIssue($event)"></app-confirm-dialog>